<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>设计师详情页</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/></meta>
    <link type="text/css" media="all" rel="stylesheet" href="static/css/css.css"></link>
    <script src="static/js/tb1.js" type="text/javascript"></script>
    <!--导航js-->
  </head>
<body>
<!--top-->
<div class="top" >
  <div class="w_box">
    <div class="logo"><a href="/toIndex"><img style="width: 250px;height: 100px;" th:src="${logo.cvalue}" /></a></div>
    <ul class="tel">
      <li><b>免费客服电话</b></li>
      <div th:each="service:${services}">
        <li style="color: blue;" th:text="${service.cvalue}"></li>
      </div>
    </ul>
    <div class="mu">
      <ul th:each="menu:${menus}">
        <div th:if="${menu.mid  == 1}">
          <li class="on"><a th:href="${menu.mpath}" th:text="${menu.mname}"></a></li>
        </div>
        <div th:if="${menu.mid  != 1}">
          <li class="off"><a th:href="${menu.mpath}" th:text="${menu.mname}"></a></li>
        </div>
        <!--  <li class="off"><a href="/toIndex">施工工艺</a></li>
        <li class="off"><a href="/toIndex">装饰资讯</a></li>
        <li class="off"><a href="/toIndex">关于我们</a></li>-->
      </ul>
    </div>
  </div>
</div>
<!--con-->
<div class="con">
  <div class="w_box">
    <div class="hang"><a href="#">首页</a> > <a href="#">设计团队</a></div>
    <div class="xbanner"> <img src="static/images/5_r2_c2.jpg" /> </div>
    <div class="tujr">
      <div class="yewq"><span>设计</span>团队</div>
    </div>
    <div class="sjs" >
      <ul>
        <li th:each="user:${users}">
          <div class="touxiang"><img style="border-radius:50%"  width="120" height="120" th:src="${user.upath}" /></div>
          <img width="380" height="240" th:src="${user.bpath}" />
          <div class="xsdfh">
            <p> <span class="sty2">
              <span th:text="${user.name}"></span>/<span th:text="${user.type}"></span>
            </span><br>
              <span th:text="${user.designNian}"></span>年设计经验<br>
            </p>
            <div class="kial" style="margin-left:50px; display:inline;"><a href="/toTeam_XX">预约设计</a></div>
            <div class="kial"  style="margin-left:50px; display:inline;"><a th:href="@{'/toTeam_XX/'+${user.uid}}">查看案例</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--foot-->
<div class="foot">
  <div class="w_box" >
    <div class="hhh" style="margin-top: 60px;">
      <div class="f_q">
        <div class="xdh"> <span>关于我们</span><br/>

          <a href="#">公司荣誉</a><br/>
          <a href="#">发展历程</a><br/>
          <a href="#">企业文化</a><br/>
          <a href="#">联系我们</a> </div>
      </div>
      <div class="f_q">
        <div class="xdh"> <span>装饰资讯</span><br/>
          <a href="#">公司新闻</a><br/>
          <a href="#">行业动态</a><br/>
          <a href="#">装修知识</a> </div>
      </div>
      <div class="f_q">
        <div class="xdh"> <span>风格案例</span><br/>
          <a href="#">欧式</a><br/>
          <a href="#">简约</a><br/>
          <a href="#">田园</a><br/>
          <a href="#">地中海</a><br/>
          <a href="#">中式</a> </div>
      </div>
      <div class="f_ri">
        <div class="xdh2"> <span class="a_1">联系方式</span><br/>
          <span th:each="service,sStatus:${services}">
              <span class="a_2" th:text="${service.cvalue}"></span>
          </span>

          <span class="a_3">免费客户服务热线</span> </div>
        <div class="weix" th:each="wechat_qrcode:${wechat_qrcodes}">
          <img style="width: 300px;height: 180px;" th:src="${wechat_qrcode.cvalue}" />
          <div style="width: 300px;">匠心国际设计官方微信</div>
        </div>
      </div>
    </div>
    <div th:each="copyright:${copyrights}">
      <div class="banquan" style="color: #000000;" th:text="${copyright.cvalue}"></div>
    </div>
  </div>

</div>

</body>
</html>
