<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>系统管理 - 编辑扫码图片</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<div class="layui-container">  
    <div class="layui-row">
        <div class="layui-col-lg12">
            <fieldset class="layui-elem-field">
                <legend>系统管理 - 编辑扫码图片</legend>
                <div class="layui-field-box">
                        <div class="layui-form-item">
                        	<input type="hidden" name="uploadPath" th:value="'/qrcode_upload_update?id='+${qrcode.cid}"/>
                            <label class="layui-form-label">图片路径</label>
                            <div class="layui-input-block">
                        					<div class="layui-upload">
                        						<div class="layui-upload-list">
    									<img width="300" th:src="${qrcode.cvalue}" height="100" class="layui-upload-img" id="demo1">
    																	<p id="demoText"></p>
  																	</div>
  																	<button type="button" class="layui-btn" id="test1">选择图片</button>
																	</div> 
                            </div>
                        </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/javascript/menu_update_submit.js"></script>
<script type="text/javascript" src="/static/javascript/upload.js"></script>
</body>
</html>